<html>
  <body>
    <form ref='uploadForm' 
      id='uploadForm' 
      action='/bulkLoad' 
      method='post' 
      enctype="multipart/form-data">
        <table>
            <td>
                <tr><input type="file" name="file1" /></tr>
                <tr><input type="file" name="file2" /></tr>
                <tr><input type="file" name="file3" /></tr>
                <tr><input type='submit' value='Upload!' /></tr>
            </td>
        </table>
    </form>     
  </body>
</html>